[Unit]
Description=BMI260 Gyroscope

[Service]
Type=simple
User=arch
ExecStart=/bin/python3 /home/arch/GPD/BMI260/bmi260_drv.py

[Install]
WantedBy=multi-user.target
